<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:description" content="/<%= info.title %>">
  <meta property="og:title" content="<%= info.fullName %>">
  <meta property="og:image" content="https://vilucky.com/stylesheets/images/<%= info.path_img %>">
  <title>Visharee | Chi Tiết</title>
  <link rel="shortcut icon" href="/stylesheets/images/favicon.ico" type="image/x-icon">
  <link href="/stylesheets/assets/css/font-awesome.css" rel="stylesheet">
  <link href="/stylesheets/assets/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/assets/css/slick.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/assets/css/bootstrap-datepicker.css">
  <link href="/stylesheets/assets/css/magnific-popup.css" rel="stylesheet">
  <link id="switcher" href="/javascripts/assets/css/theme-color/default-theme.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Prata' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <div id="fb-root"></div>
  <script>(function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.12&appId=716729558716068&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
</head>

<body>

  <!--START SCROLL TOP BUTTON -->
  <a class="scrollToTop" href="#">
    <i class="fa fa-angle-up"></i>
  </a>
  <!-- END SCROLL TOP BUTTON -->

  <!-- Start header section -->
  <header id="mu-header">
    <nav class="navbar navbar-default mu-main-navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- LOGO -->

          <!--  Text based logo  -->
          <a class="navbar-brand" style="margin-right: 25px;" href="<%= controller %>">
            <img src="/stylesheets/images/logo.png" alt="Logo img">
          </a>
          <a class="navbar-brand" href="<%= controller %>">Visharee
            <!-- <span>X</span> -->
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right mu-main-nav">
            <li>
              <a href="/">
                <b>Trang chủ</b>
              </a>
            </li>
            <li>
              <a href="#mu-about-us">
                <b>Chiến dịch</b>
              </a>
            </li>
            <!-- <li>
              <a href="#mu-restaurant-menu">Sự kiện</a>
            </li> -->
            <!-- <li><a href="#mu-reservation">RESERVATION</a></li>                        -->
            <li>
              <a href="#mu-gallery">
                <b>Cộng đồng Visharee</b>
              </a>
            </li>
            <li>
              <a href="#mu-contact">
                <b>Liên hệ</b>
              </a>
            </li>
            <li style="background-color: #19BAF1;border-radius: 9px;">
              <a class="color-login-logout" href="/authen/login">
                <b>
                  <%= login %>
                </b>
              </a>
            </li>
            <li style="background-color: #19BAF1;border-radius: 9px; margin-left:2px;">
              <a class="color-login-logout" href="<%=logout_href%>">
                <b>
                  <%= logout %>
                </b>
              </a>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
  </header>
  <!-- End header section -->
  <!-- Information body>-->
  <br/>
  <br/>
  <br/>
  <section id="mu-slider">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <h2>
              <%=info.fullName %>
            </h2>
          </div>
          <div class="row rowsecond">
            <img alt="img" src="/stylesheets/images/<%=info.path_img %>">

          </div>

          <div class="row rowsecond" style="width: 87%;">
            <h3>Thông tin chi tiết: </h3>
            <%=info.description %>
          </div>
        </div>
        <div class="col-md-4">
          <h3>Hành động nhỏ, ý nghĩa lớn.</h3>
          <hr/>
          <div style="text-align: center;" class="col-sm-6">
            <p style="font-size: 20px">
              <span id="number_ungho">
                <%=info.total_view %>
              </span>
            </p>
            Ủng hộ
          </div>
          <div style="text-align: center;" class="col-sm-6">
            <p style="font-size: 20px">
              <span id="number_muctieu">
                <%=info.money %>
              </span>
            </p>
            Mục tiêu
          </div>
          <br/>
          <br/>
          <div class="row row_second">
            <button id="qc" type="button" data-toggle="modal" style="padding: 8px;font-size:20px;" data-target="#unghoqc" class="btn btn-info btn-block">
              <b>Ủng hộ xem quảng cáo </b>
            </button>
          </div>
          <div class="row row_second">
            <button type="button" data-toggle="modal" style="padding: 8px;font-size:20px;" data-target="#unghotk" class="btn btn-info btn-block">
              <b>Ủng hộ chuyển tiền</b>
            </button>
          </div>

          <div class="row row_second">
            <button type="button" style="padding: 8px;font-size:20px;" class="btn btn-info btn-block">
              <b>Ủng hộ mua sản phẩm</b>
            </button>
          </div>
          <div class="row row_second">
            <!-- <button type="button" class="btn btn-info btn-block">Chia sẻ</button> -->
            <div class="fb-share-button" data-href="https://vilucky.com/events/<%= info.id %>" data-layout="button_count" data-size="large"
              data-mobile-iframe="true">
              <a target="_blank" style="font-size:20px;padding: 8px" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fvilucky.com<%= controller %>&amp;src=sdkpreparse"
                class="fb-xfbml-parse-ignore btn btn-info btn-block">
                <b>Chia sẻ qua facebook</b>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div style="margin-top:15%" class="col-12">
        <div class="fb-comments" data-href="https://vilucky.com/details/<%= info.id %>" data-numposts="5" data-colorscheme="light"></div>
      </div>

    </div>

  </section>
  <div class="modal fade" id="unghotk" role="dialog" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Ủng hộ chuyển tiền</h4>
        </div>
        <div class="modal-body">
          <p>Hãy ủng hộ nhưng hoàn cảnh khó khăn bằng cách chuyển khoản qua tài khoản ngân hàng sau:</p>
          <p>STK: 45210000394275.
            <p> Chủ Tài Khoản: TRỊNH THẾ HOÀN.
              <p>Ngân hàng BIDV.
                <p>Nội dung: Giupdo_<%=info.fullName %>_TenNguoiGiupDo</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <div class="modal fade" id="unghoqc" role="dialog" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Ủng hộ quảng cáo</h4>
        </div>
        <div class="modal-body">
          <iframe id="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/mtnIqoZ9NHk" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" id="dung" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <!-- End body-->
  <!-- Start Footer -->
  <footer id="mu-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-footer-area">
            <div class="mu-footer-social">
              <a href="https://www.facebook.com/codethuecntt203/">
                <span class="fa fa-facebook"></span>
              </a>
              <a href="#">
                <span class="fa fa-google-plus"></span>
              </a>
              <a href="#">
                <span class="fa fa-youtube"></span>
              </a>
            </div>
            <div class="mu-footer-copyright">
              <p>&copy; Copyright
                <a rel="nofollow" href="https://www.facebook.com/codethuecntt203/" style="color :coral;">FU - Team</a>. All right reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <!-- jQuery library -->
  <script src="/stylesheets/assets/js/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/stylesheets/assets/js/bootstrap.js"></script>
  <!-- Slick slider -->
  <script type="text/javascript" src="/stylesheets/assets/js/slick.js"></script>
  <!-- Counter -->
  <script type="text/javascript" src="/stylesheets/assets/js/simple-animated-counter.js"></script>
  <!-- Gallery Lightbox -->
  <script type="text/javascript" src="/stylesheets/assets/js/jquery.magnific-popup.min.js"></script>
  <!-- Date Picker -->
  <script type="text/javascript" src="/stylesheets/assets/js/bootstrap-datepicker.js"></script>
  <!-- Ajax contact form  -->
  <script type="text/javascript" src="/stylesheets/assets/js/app.js"></script>

  <!-- Custom js -->
  <script src="/stylesheets/assets/js/custom.js"></script>
  <script lang="javascript">(function () { var pname = ((document.title != '') ? document.title : ((document.querySelector('h1') != null) ? document.querySelector('h1').innerHTML : '')); var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = 1; ga.src = '//live.vnpgroup.net/js/web_client_box.php?hash=265b162ab4d1bd8e7772a553d17f4e64&data=eyJzc29faWQiOjUzNDE0NDUsImhhc2giOiJhY2FiMjhhY2NiNTJjZTU5NzlmM2E3NzMwZDg0MzEwYSJ9&pname=' + pname; var s = document.getElementsByTagName('script'); s[0].parentNode.insertBefore(ga, s[0]); })();</script>
  <script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

    $(document).ready(function () {

      $('#qc').click(function () {
        $('#youtube-video')[0].src = 'https://www.youtube.com/embed/mtnIqoZ9NHk?autoplay=1';
      });

      $('#dung').click(function () {
        $('#youtube-video')[0].src = 'https://www.youtube.com/embed/mtnIqoZ9NHk';
      });
    });
  </script>
</body>

</html>